<form (submit)="onSubmit(theForm)" #theForm="ngForm">
    <div class="form-group">
        <label for="username">User name</label>
        <input ngModel name="username" type="text" id="username" class="form-control" placeholder="Enter Username">
    </div>
    <div class="form-group">
            <label for="password">Password</label>
        <input ngModel name="password" type="text" id="password" class="form-control" placeholder="Enter Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>










<!-- <h1 [ngStyle]="{'color': status ? 'green' : 'red'}" > {{firstName}}</h1>

<br>

<h1 [ngClass]="{'isActive': status}">{{lastName}}</h1> -->

<!-- <ul>
    <li *ngFor="let post of posts; let i=index">{{i + 1}} {{post.title}}</li>
</ul> -->



<!-- <h1 *ngIf="status; else notActive">{{ firstName }}</h1>

<ng-template #notActive>

<p>Not active</p>

</ng-template> -->



<!-- <label for="status">Active</label>
<input type="radio" id="status" ng-checked="status">

<p>{{ getUserStatus() }}</p>


<br>

<button (click)="greetPerson()">CLICK!</button>

<br>

<div (mouseenter)="mousingOver()" class="box"></div>

<br>

<input (keydown)="keyDowning()" type="text">

<br>
<hr>

<input type="text"> -->
<!-- <h1>Welcome to {{ firstName }} {{lastName}}!</h1>
<br>
<hr>
<br>
{{ city ? city : 'No city' }}
<br>
<hr>
<br>
{{ displayFirstName() }} -->