<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>    
</div>











<!-- <h1 [ngStyle]="{'color': status ? 'green' : 'red'}" > {{firstName}}</h1>

<br>

<h1 [ngClass]="{'isActive': status}">{{lastName}}</h1> -->

<!-- <ul>
    <li *ngFor="let post of posts; let i=index">{{i + 1}} {{post.title}}</li>
</ul> -->



<!-- <h1 *ngIf="status; else notActive">{{ firstName }}</h1>

<ng-template #notActive>

<p>Not active</p>

</ng-template> -->



<!-- <label for="status">Active</label>
<input type="radio" id="status" ng-checked="status">

<p>{{ getUserStatus() }}</p>


<br>

<button (click)="greetPerson()">CLICK!</button>

<br>

<div (mouseenter)="mousingOver()" class="box"></div>

<br>

<input (keydown)="keyDowning()" type="text">

<br>
<hr>

<input type="text"> -->
<!-- <h1>Welcome to {{ firstName }} {{lastName}}!</h1>
<br>
<hr>
<br>
{{ city ? city : 'No city' }}
<br>
<hr>
<br>
{{ displayFirstName() }} -->